[Unit]
Description=Prometheus Exporter for machine metrics
After=network.target

[Service]
type=simple
User=nobody
Group=nobody
RestartSec=1s
Restart=always
ExecStart=/usr/bin/prometheus_node_exporter

[Install]
WantedBy=multi-user.target
